@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

*{

    margin: 0;
    padding: 0;

}

body{

    /* font-family: 'Muli', sans-serif; */
    font-family: 'Work Sans', sans-serif;
    /* font-family: sans-serif; */

}

html{

    scroll-behavior: smooth;

}

.container {

    background-color: #82269e;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;

}

.header{

    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;

}

.header img {

    padding-top: -20px;

}

input {

    opacity: 0;
}

label{

    display: flex;
    align-items: center;
    flex-direction: column;

}
/* 
input:checked + .painelBranco {

    

} */

.flex{

    display: flex;
    align-items: center;
    justify-content: center;

}

.flex img{

    height: 10vh;
    width: 10vw;
    padding: 0px 5px;
    margin-bottom: -20px;

}

.flex h3{

    margin-bottom: -20px;
}

.painelBranco{

    width: 100vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px; 
    transition: .7s linear;

}

.painel{

    width: 88vw;
    background-color: white;
    height: 40vh;
    border-radius: 3px;

}

.fatura{

    height: 30vh;

}

.fatura img {

    margin-left: 15px;
    margin-top: 15px;

}

.cartaoFatura {

    display: flex;
    align-items: center;

}

.cartaoFatura p {

    font-size: 9pt;
    margin-top: 15px;
    margin-left: 5px;
    color: #9e9e9e;

}

.valorFatura{

    margin-top: 20%;
    margin-left: 15px;

}

.valorFatura h5 {

    color: #00bcca;
    font-size: 8pt;

}

.valorFatura p {

    font-size: 22pt;
    color: #00bcca;

}

.recente{

    height: 10vh;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(100, 99, 100);
    
}

.recente p {

    font-size: 7pt;

}

.recente img {

    padding: 7px;

}

.telas{

    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;

}

.bolinha{

    height: 6px;
    width: 6px;
    background-color: white;
    border-radius: 50%;
    margin: 0 4px;

}

.opcoesScroll{

    height: 85px;
    width: 100vw;
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .7s linear;
    
}

.opcoesScroll p{

    color: white;
    font-size: 7pt;
    margin-top: 2.5vh;
    margin-left: 5px;

}

.opcoes{

    height: 82px;
    width: 82px;
    background-color: #9140a9;
    border-radius: 4px;
    margin: 0 3px;

}

.opcoes img {

    margin: 5px 3px;
    height: 20px;
    width: 20px;
    
}




/* STYLE DO 2 MENU */

.opcoesPerfil{

    height: 100vh;
    display: none;

}

.qrAndInfos{

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.qrAndInfos img {

    height: 90px;
    margin-bottom: 5px;

}

.qrAndInfos p {

    font-size: 7pt;
    color: white;

}

.opcoesSegundaTela{

    height: 35vh;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
        

}

.op2{

    border-bottom: .5px solid rgba(255, 255, 255, 0.37);
    height: 50px;
    width: 90vw;
    display: flex;
    justify-content: space-between;
}

.op2 p{

    color: white;
    font-size: 9pt;
    margin-left: 5px;

}

.leftOpcoes{

    display: flex;
    align-items: center;

}

.botao{

    width: 100vw;
    display: flex;
    justify-content: center;

}

#botaoSair{

    background-color: rgba(255, 255, 255, 0);
    color: white;
    width: 90vw;
    height: 40px;
    border: .5px solid rgba(255, 255, 255, 0.37);
    font-size: 9pt;

}